<div class="container">
  <a *ngIf="isLogged()" href="#" routerLink="/dashboard" routerLinkActive="active" class="main">
    <img class="logo" src="../../../../assets/logoMCW.png" alt="" />
  </a>
  <a *ngIf="!isLogged()" href="#" routerLink="/" routerLinkActive="active" class="main">
    <img class="logo" src="../../../../assets/logoMCW.png" alt="" />
  </a>
  <div *ngIf="isLogged()" class="profile-pic">
    <img class="pic" src="../../../../assets/foto.webp" />
  </div>
  <div *ngIf="isLogged()" class="data">
    <p *ngIf="isLogged()" class="name">{{ getCurrentUser().fullName }}</p>
    <p *ngIf="isLogged()" class="balance">
      Balance: ${{ getCurrentUser().deposit }}
    </p>
  </div>

  <button
    *ngIf="isLogged()"
    (click)="logout()"
    mat-raised-button
    class="logout"
  >
    LOGOUT
  </button>
  <button *ngIf="!isLogged()" mat-raised-button class="register">
    CREATE AN ACCOUNT
  </button>

  <!-- <div class="buttons"> -->
  <!-- <button *ngIf="login" class="button button--sell" mat-button (click)="navigateToAddProduct()">¡Véndelo!</button>
      <button *ngIf="!login" class="button button--sell" mat-button (click)="openLogin()">¡Véndelo!</button>
      <button *ngIf="!login" class="button button--login" mat-button (click)="openLogin()">Login</button>
      <button *ngIf="!login" class="button button--register" mat-button (click)="openRegister()">Regístrate</button>
      <button *ngIf="login" mat-button (click)="openAccountModal()"><mat-icon>account_circle</mat-icon></button>
      <button *ngIf="login" class="button button--register" mat-button (click)="logout()"><mat-icon>exit_to_app</mat-icon></button> -->
  <!-- <button mat-button (click)="openReview()">Abrir review</button> -->
  <!-- <button mat-button (click)="openStock()">Stock</button> -->

  <!-- </div> -->
</div>
